<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=LAPTOP-JHQ9SF1E\SQLEXPRESSS;Initial Catalog=MainTest;User ID=sa;Password=hasloos" providerName="System.Data.SqlClient" />
    <add name="Medic4You" connectionString="Data Source=LAPTOP-JHQ9SF1E\SQLEXPRESSS;Initial Catalog=MedicSylwia;User ID=sa;Password=hasloos" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>